* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body, div, ul,li,a,h1,h2,h3,h4, p {
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #000428, #004e92);
    overflow: hidden;
    position: relative;
    font-size: 24px;
}

.stars {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    animation: moveStars 55s linear infinite;
}

.star {
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
    animation: twinkle 2s infinite ease-in-out;
}

@keyframes moveStars {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}


.chat {
    max-width: 60vw;
    background-color: #fff;
    position: relative;
    z-index: 10;
    margin:auto;
    top: 150px;
    border-radius: 20px;
    max-width: 900px;
    box-shadow: 0 0 50px rgb(14, 24, 54);
}

.chat__user {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #003d72;
}

.chat__user img {
    max-width: 4rem;
    border-radius: 50%;
    margin: 6px;
}

.chat__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.msg {
    background-color: #004e92;
    color: #fff;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 9px 9px 9px 0;
    position: relative;
    z-index: 20;
    max-width: 500px;
    margin: 6px 12px;
    left: -15px;
}

.msg::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: #004e92;
    bottom: -6px;
    left: -7px;
    clip-path: polygon(43% 0, 0% 100%, 100% 68%);
    z-index: 15;
}

.self {
    background-color: #017be6;
    margin-left: auto;
    border-radius: 9px 9px 0px 9px;
    left: 0;
    right: -15px;
}

.self::before {
    background-color: #017be6;
    clip-path: polygon(57% 0%, 100% 100%, 0% 68%);
    bottom: -6px;
    left: auto;
    right: -5px;
}